<!DOCTYPE html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Details about article {{ doc_id }}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}" />
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.min.js" charset="utf-8"></script>
  <script>
    function loadFile(file) {
      fr = new FileReader();
      fr.onload = receivedText;
      console.log(file)
      var f = new File([""], "http://anomander.uchicago.edu:8080/" + file);
      console.log(f)
      fr.readAsText(f);

      function receivedText(e) {
        let lines = e.target.result;
        var newArr = JSON.parse(lines);
        console.log(newArr)
      }
      return fr
    }

    function loadJSON(file, callback) {
      var rawFile = new XMLHttpRequest();
      rawFile.overrideMimeType("application/json");
      rawFile.open("GET", file, true);
      rawFile.onreadystatechange = function() {
        if (rawFile.readyState === 4 && rawFile.status == "200") {
          callback(rawFile.responseText);
        }
      }
      rawFile.send(null);
    }
  </script>

</head>
<style>
  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .bar {
    fill: #3DC9FF;
  }

  .bar:hover {
    fill: #34aad8;
  }

  .x.axis path {
    display: none;
  }

  .node {
    stroke: #666;
    stroke-width: 1.5px;
  }

  .node:hover {
    stroke: #222;
    stroke-width: 3px;
  }

  text {
    font: 14px;
    color: #bbb;
    pointer-events: none;
  }

  .line {
    fill: none;
    stroke: #ff5611;
    stroke-width: 1.5px;
  }

  .link {
    stroke: #999;
    stroke-opacity: 2;
  }
</style>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
    <a class="navbar-brand" href="/">Topic Model Browser</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/topic_cloud.html">Topics</a>
        </li>
        <li class="nav-item">
          <a class="nav-item nav-link" href="/vocabulary.html">Vocabulary</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Navigate Topics
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            {% for i in topic_ids %}
            <a class="dropdown-item" style="padding: .25rem .75rem" href="/topic/{{i}}.html">Topic {{i}}</a>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
  {% block container %}{% endblock %}