{% extends 'base.html' %}

{% block container %}
<div class="container-fluid">
  <div class="card shadow-sm">
    <div class="card-header">
      <h5>{{ short_content }}</h5>
      Authors: {{ authors }} - Date: {{ year }}
    </div>
    <div class="card-body">
      <div class="card-text" style="font-size: 90%">
        <div class="row mb-4">
          <div class="col-8">
            <div class="row">
              <div class="col-12">
                <div class="card p-2">
                  <h5 class="card-title">Topic distribution</h5>
                  <canvas id="topic-distribution" style="max-height: 400px;"></canvas>
                </div>
              </div>
              <div class="col-6 mt-4">
                <div class="card">
                  <h5 class="card-title p-3">Documents with most similar topic distribution (top 5)</h5>
                  <ol class="list-group">
                    {% for doc in documents %}
                    <li class="list-group-item" style="border-radius: 0px; border-width: 1px 0px">
                      <a href="../document/{{ doc[3] }}.html">{{ doc[0] }}</a> ({{ doc[4] }})
                      <br>
                      {{ doc[1] }}
                      <br>
                      {{ doc[2] }}
                    </li>
                    {% endfor %}
                  </ol>
                </div>
              </div>
              <div class="col-6 mt-4">
                <div class="card">
                  <h5 class="card-title p-3">Documents with most similar vocabulary (top 5)</h5>
                  <ol class="list-group">
                    {% for doc in sim_docs_by_word %}
                    <li class="list-group-item" style="border-radius: 0px; border-width: 1px 0px">
                      <a href="../document/{{ doc[3] }}.html">{{ doc[0] }}</a> ({{ doc[4] }})
                      <br>
                      {{ doc[1] }}
                      <br>
                      {{ doc[2] }}
                    </li>
                    {% endfor %}
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <div class="card p-3 " style="height: 100%">
                  <h5 class="card-title">Vector representation</h5>
                  <div style="display: flex; height: 100%; justify-content: center; align-items: center;" class="card-text">
                    <div>
                      {% for weighted_word in words %}
                      {% if weighted_word[1] > 0 %}
                      <a href="../word/{{ weighted_word[2] }}.html" style="display:inline-block; padding: 5px; font-size: {{ 1+weighted_word[1] }}rem; color: {{ weighted_word[3] }}">{{weighted_word[0]}}</a> <!-- <li class="list-group-item" style="padding: .5rem 1rem"><strong><a href="../word/{{ weighted_word[2] }}.html">{{ weighted_word[0] }}</a></strong> ({{ weighted_word[1] }})</li> -->
                      {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 text-justify mt-4">
                <div class="card p-3">
                  <h5 class="card-title">Original text</h5>
                  {{ text }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  var ctx = document.getElementById('topic-distribution')
//   var topicData = loadJSON("{{ url_for('static', filename = data_path + '/topic_distribution_d'+doc_id+'.json') }}", function(text) {
    var topicData = {{ topic_distribution|tojson }}
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.animation.duration = 400;
    Chart.defaults.global.tooltipCornerRadius = 0;
    // Chart.defaults.global.maintainAspectRatio = false;
    Chart.defaults.bar.scales.xAxes[0].gridLines.display = false;
    var myChart = new Chart(ctx, {
      type: 'bar',
      data: {
        labels: topicData.labels,
        datasets: [{
          label: "weight",
          data: topicData.data,
          backgroundColor: "#55acee"
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false,
        },
        tooltips: {
          callbacks: {
            title: function(tooltipItem) {
              return "Topic " + tooltipItem[0].xLabel
            }
          }
        },
        scales: {
          yAxes: {
            scaleLabel: {
              display: true,
              labelString: 'weight'
            }
          },
          yAxes: {
            scaleLabel: {
              display: true,
              labelString: 'topics'
            }
          }
        }
      }
    });
    ctx.addEventListener('click', function(e) {
      let target = myChart.getElementAtEvent(e)
      if (typeof(target[0]) !== 'undefined') {
        let topic = target[0]._view.label
        window.location.href = "../topic/" + topic + ".html"
      }
    }, false);
//   });
</script>
{% endblock %}