{% extends 'base.html' %}

{% block container %}
<div class="container-fluid">
  <div class="card shadow-sm">
    <div class="card-header">
      <h3>{{ title }}</h3>
    </div>
    <div class="card-body">
      <h5 class="card-title">Overall frequency : {{ frequency }}%</h5>
      <div class="card-text" style="font-size: 90%">
        <div class="row">
          <div class="col-4">
            <div class="card shadow-sm p-2">
              <h5>Most relevant words</h5>
              <canvas id="relevant-words" style="max-height: {{num_topics * 10}}px !important;"></canvas>
            </div>
          </div>
          <div class="col-8">
            <div class="card shadow-sm p-2">
              <h5>Topic frequency</h5>
              <canvas id="topic-frequency" style="max-height: {{num_topics * 10}}px !important;"></canvas>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card shadow-sm mt-4 p-2">
            <h5>Related documents ({{documents|length}})</h5>
            <table id="documents" class="display" cellspacing="0">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Author(s)</th>
                  <th>Date</th>
                </tr>
              </thead>
              <tbody>
                {% for doc in documents %}
                <tr>
                  <td><a href="/document/{{ doc[3] }}.html">{{ doc[0] }}</a></td>
                  <td>{{ doc[1] }}</td>
                  <td>{{ doc[2] }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  $(document).ready(function() {
    $('#documents').DataTable();
  });
</script>
<script src="{{ url_for('static', filename = 'js/d3.min.js' )}}"></script>
<script>
  var ctx = document.getElementById('relevant-words')
  var topicData = loadJSON("{{ url_for('static', filename = data_path + '/word_distribution'+topic_id+'.json') }}", function(text) {
    var topicData = JSON.parse(text);
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.animation.duration = 400;
    Chart.defaults.global.tooltipCornerRadius = 0;
    Chart.defaults.bar.scales.xAxes[0].gridLines.display = false;
    Chart.defaults.global.defaultFontSize = "14"
    var myChart = new Chart(ctx, {
      type: 'horizontalBar',
      data: {
        labels: topicData.labels,
        datasets: [{
          label: "weight",
          data: topicData.data,
          backgroundColor: "rgba(85,172,238, .6)"
        }]
      },
      options: {
        maintainAspectRatio: false,
        tooltips: {
          enabled: false
        },
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              display: false,
              offsetGridLines: false
            },
          }],
          yAxes: [{
            display: false,
            gridLines: {
              barThickness: 20,
              display: false
            }
          }]
        },
        hover: {
          animationDuration: 0
        },
        animation: {
          duration: 1,
          onComplete() {
            const chartInstance = this.chart;
            const ctx2 = chartInstance.ctx;
            const dataset = this.data.datasets[0];
            const meta = chartInstance.controller.getDatasetMeta(0);

            Chart.helpers.each(meta.data.forEach((bar, index) => {
              const label = topicData.labels[index];
              const labelPositionX = 10;
              const labelWidth = ctx2.measureText(label).width + labelPositionX;

              ctx2.textBaseline = 'middle';
              ctx2.textAlign = 'left';
              ctx2.fillStyle = '#444';
              ctx2.fillText(label, labelPositionX, bar._model.y);
            }));
          }
        }
      }
    });

    ctx.addEventListener('click', function(e) {
      let target = myChart.getElementAtEvent(e)
      if (typeof(target[0]) !== 'undefined') {
        let word = target[0]._view.label
        window.location.href = "../word/" + word + ".html"
      }
    }, false);
  });
</script>
<script>
  var ctx2 = document.getElementById('topic-frequency')
  var topicData = loadJSON("{{ url_for('static', filename = data_path + '/frequency'+topic_id+'.json') }}", function(text) {
    var topicData = JSON.parse(text);
    Chart.defaults.global.responsive = true;
    Chart.defaults.global.animation.duration = 400;
    Chart.defaults.global.tooltipCornerRadius = 0;
    // Chart.defaults.global.maintainAspectRatio = false;
    Chart.defaults.bar.scales.xAxes[0].gridLines.display = false;
    var myChart = new Chart(ctx2, {
      type: 'line',
      data: {
        labels: topicData.labels,
        datasets: [{
          data: topicData.data,
          borderColor: "#55acee",
          fill: false,
          borderWidth: 1,
          pointRadius: 0,
          pointTension: 0
        }]
      },
      options: {
        maintainAspectRatio: false,
        legend: {
          display: false,
        }
      }
    });
  });
</script>
{% endblock %}